body{
    background: #fff;
    font-family: 'Open Sans';
    margin: 0;
    
}
h2{
  font-size: 120px;
  font-weight: 400;
  line-height: 160px;
  margin: 50px 0;
  @media screen and (max-width:700px){
    font-size: 50px;
    line-height: 60px;
  }
}
h3{
  font-size: 38px;
  font-weight: 600;
  margin: 30px 0;
  line-height: 52px;
  @media screen and (max-width:700px){
    font-size: 20px;
    line-height: 28px;
  }
}
button{
  background-color: #2A87D9;
  color: #fff;
  width: 180px;
  height: 60px;
  border-radius: 10px;
  font-size: 16px;
  border:1px solid #2A87D9;
  font-weight: 600;

  cursor: pointer;
  @media screen and (max-width:700px){
    width: 260px;
    height: 50px;
    padding: 0 20px;
  }
  &:disabled{
    background: #fff;
    border:1px solid #B9C8D6;
    color: #B9C8D6;
    cursor:not-allowed;
  }
}
::selection{
  background: #2A87D9;
  color: #fff;
}
input{
  height: 60px;
  width: 320px;
  border-radius: 10px;
  border:1px solid #B9C8D6;
  padding: 0 30px;
  margin: 40px 10px;
  @media screen and (max-width: 1200px) {
    width: 260px;
  }
  @media screen and (max-width: 890px) {
    width: 320px;
  }
  @media screen and (max-width:600px){
    width: 260px;
    height: 50px;
    padding: 0 20px;
  }
}
ul , ol {
  padding: 0;
}
ul li,ol li{
  list-style: none;
}
input:focus-visible,input:focus{
  outline: none;
}
a{
  text-decoration: none;
}
:root {
  --navbar-bg-color:hsla(0, 0%, 0%, 0.8);
  --navbar-text-color:hsl(0, 0%, 85%);
  --navbar-text-color-focus:white;
  --navbar-bg-contrast:hsl(0, 0%, 25%);
  --navbar-height:80px;
  --logo-height:60px;
  @media screen and (max-width:700px) {
    --navbar-height:50px;
    --logo-height:30px;
  }
}
#navbar {
    z-index: 1;
    position: fixed;
    height: var(--navbar-height);
    width: 100%;
    left: 0;
    right: 0;
    background-color: var(--navbar-bg-color); 
  }
  
  .navbar-container {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
  }
  
 
  
  .home-link, .navbar-link {
    color: var(--navbar-text-color);
    transition: color 0.2s ease-in-out;
    text-decoration: none;
    display: flex;
    font-weight: 400;
    font-size: 16px;
    align-items: center;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  }
  
  .home-link {
    &:focus, &:hover {
      color: var(--navbar-text-color-focus);
    }
  }
  
  .navbar-link {
    justify-content: center;
    width: 100%;
    padding: 0.4em 0.8em;
    border-radius: 5px;
  
    &:focus, &:hover {
      color: var(--navbar-text-color-focus);
      background-color: var(--navbar-bg-contrast);
    }
  }
  
  .navbar-logo {
    margin: 0 0 0 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and (max-width :700px) {
      margin: 0 0 0 10px;
    }
    & svg{
      width: var(--logo-height);
      height: var(--logo-height);
    }
  }
  
  .navbar-toggle {
    cursor: pointer;
    border: none;
    background-color: transparent;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 10px;
  }
  
  .icon-bar {
    display: block;
    width: 25px;
    height: 4px;
    margin: 2px;
    transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
    background-color: var(--navbar-text-color);
  }
  
  .navbar-toggle {
    &:focus .icon-bar, &:hover .icon-bar {
      background-color: var(--navbar-text-color-focus);
    }
  }
  
  #navbar.opened .navbar-toggle .icon-bar {
    &:first-child, &:last-child {
      position: absolute;
      margin: 0;
      width: 30px;
    }
  
    &:first-child {
      transform: rotate(45deg);
    }
  
    &:nth-child(2) {
      opacity: 0;
    }
  
    &:last-child {
      transform: rotate(-45deg);
    }
  }
  
  .navbar-menu {
    position: fixed;
    top: var(--navbar-height);
    bottom: 0;
    transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
    opacity: 0;
    visibility: hidden;
    left: 0;
    right: 0;
  }
  
  #navbar.opened .navbar-menu {
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 1;
    visibility: visible;
  }
  
  .navbar-links {
    list-style-type: none;
    max-height: 0;
    overflow: hidden;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 0;
    right: 0;
    margin: 1.4rem;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    @media screen and (max-width: 700px) {
      background-color: var(--navbar-bg-color);
    } 
  }
  
  #navbar.opened .navbar-links {
    padding: 1em;
    max-height: none;
  }
  
  @media screen and (min-width: 700px) {
    .navbar-toggle {
      display: none;
    }
  
    #navbar {
      .navbar-menu, &.opened .navbar-menu {
        visibility: visible;
        opacity: 1;
        position: static;
        display: block;
        height: 100%;
      }
      
      .navbar-links, &.opened .navbar-links {
        margin: 0;
        padding: 0;
        box-shadow: none;
        position: static;
        flex-direction: row;
        list-style-type: none;
        max-height: max-content;
        width: 100%;
        height: 100%;
      }
  
      .navbar-link:last-child {
        margin-right: 0;
      }
    }
}
.content{
  overflow-x: hidden;
  //padding-top:  var(--navbar-height) ;
  & .background{
    background: url(../img/header_bg.jpg) 0 0 no-repeat;
    background-position: center;
    height: 650px;
    display: flex;
    align-items: center;
    justify-content: center;
    & .text{
      padding: 0 30px;
      font-size: 20px;
      text-align: center;
      color: var(--navbar-text-color);
      & p{
        font-size: 38px;
        line-height: 52px;
        margin-bottom: 50px;
        @media screen and (max-width: 700px)  {
          font-size: 20px;
          line-height: 27px;
        }
      }
      & ul{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        & li{
          margin: 10px 0;
          @media screen and (max-width: 700px) {
            width: 100%;
          }
          & svg{
            margin-right: 10px;
          }
        }
      }
    }
    
    @media screen and (max-width: 700px) {
      height: 568px;
      overflow-x: hidden;
    }
  }
  & .wrapper{
    max-width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
    & section{
      &.forms{
        text-align: center;
        margin: 175px 0 100px;
        & h3{
          text-align: center;
          text-transform: capitalize;
          width: 100%;
        }
        & p{
          width: 100%;
        }
        & button{
          margin: 40px 10px;
        }
        & .inputs{
          & input{
            @media screen and (max-width: 890px) {
              margin: 10px 0;
            }
          }
          &.guests{
            position: relative;
            & input{
              margin-top: 10px ;
              margin-bottom: 10px;
            }
            & span{
              position: absolute;
              width: 16px;
              height: 16px;
              border: 1px solid #B9C8D6;
              border-radius: 2px;
              cursor: pointer;
              top: 50%;
              margin-top: -8px;
              left: -18px;
              @media screen and (max-width: 890px) {
                left: 1px;
              }
            }
            &.active{
              & span{
                background-color: #2A87D9;
                border-color: #2A87D9;
              }
            }
            @media screen and (max-width: 890px) {
              padding-bottom: 15px;
              padding-top: 15px;
              border-bottom: 1px solid #B9C8D6;
            }
            @media screen and (max-width: 890px) {
              padding: 0 20px;
            }
          }
          
        }
        & .controls{
          display: flex;
          width: 100%;
          justify-content: space-between;
          flex-wrap: nowrap;
          padding: 0 75px;
          & div{
            display: flex;
            align-items: center;
            & button{
              margin: 10px 0;
            }
            &.left{
              & a{
                font-size: 20px;
                & span{
                  font-size: 38px;
                }
              }
            }
            &.right{
              & a{
                color: #000;
                margin-right:30px ;
              }
            }
            & a{
              color: #2A87D9;
              display: flex;
              align-items: center;
              & span{
                margin-right: 10px;
              }
              @media screen and (max-width: 700px) {
                margin: 20px 0;
              }
            }
            & button{
              font-weight: 600;
            }
            @media screen and (max-width: 700px) {
              flex-wrap: wrap;
            }
          }
          @media screen and (max-width: 700px) {
            padding: 0 20px;
            flex-wrap: wrap;
          }
        }
        &.form2{
          display: none;
        }
        &.pay{
          display: none;
        }
      }
      &.pay{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        & div{
          width: 100%;
          display: flex;
        flex-wrap: wrap;
        justify-content: center;
        }
        & button{
          margin: 15px 0;
          width: 600px;
          height: 80px;
          background: #fff;
          color: #000;
          border-color: #B9C8D6;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 0 30px;
          & span{
            &.price{
              color: #2A87D9;
            }
          }
          @media screen and (max-width: 700px) {
            padding: 0 10px;
          }
        }
      }
    }
    @media screen and (max-width: 1200px) {
      max-width: 890px;
    }
    @media screen and (max-width: 890px) {
      max-width: 700px;
    }
  }
}
